
.thumbnail {
	border: none;
	box-shadow: none;
}

.social {
	width: 62px;
  	height: 62px;
}

.footer {
	padding: 18px 0;
	background-color: #2c3e50;
	border-top: 8px solid gold;
	text-align: center;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
}



#bio-image {
	height: 200px;
	width: 200px;
	padding-right: 10px;
}



.work {
	position: relative;
	margin: 20px 0 25px;
	width: 100%;
}

.placeholder-img {
	opacity: .7;
	height: 350px;
	width: 350px;
}

.caption h3 {
	position: absolute;
	bottom: 25px;
	padding: 10px;
	text-align: center;
	color:#fff;
	background: #2c3e50;
	opacity:.8;
}

body {
	background-image: url("https://i.ytimg.com/vi/7KwzdcOs2MY/maxresdefault.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	position: relative;
	height: 900px;
}

.container{
	position: relative;
  
}

#content-wrap {
	padding-top:30px;
  padding-bottom: 100px;    /* Footer height */
}

.navbar-brand {
	font-family: 'Lobster', cursive;
}
#logo-nl{
	color: gold;
	font-size: 33px;
}

div.panel-heading{
	background-color: aqua;
}

/* .card{
	border: solid red 3px;
	background-color: solid #fff;
} */